@CHARSET "ISO-8859-1";

html { 
	height: 100%;
	margin: 0;
	padding: 0; 
}
  
body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-size: 0.6em;
}

header h1 {
	background-color: #E4E4E4;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	border-top-color: #999999;
	border-bottom-color: #999999;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	color: #245C83;
}

#map { 
	left: 0px;
	right: 0px;
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
}

#loading-spinner {
	position: absolute;
	top: 50em;
	right: 50em;
	z-index: 99;
	border: 1px solid;
	border-color: #999999;
    border-radius: 6px;
    box-shadow: 0px 0px 9px #9F9F9F;
}

#controls-pane {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 99;
	padding: 0.75em;
	background-color: #E4E4E4;
	border: 1px solid;
	border-color: #999999;
    border-radius: 6px;
    box-shadow: 0px 0px 9px #9F9F9F;
}

.control-label {
	font-size: 1.15em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	color: #245C83; 
}

#search-container {
	float: left;
}

#display-container {
	float: right;
	margin-left: 1.25em;
}

#search-name-control {
	margin-top: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	background-color: #F3F3F3;
	border-bottom-color: #DADADA;
	border-right-color: #DADADA;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	color: #2e6e9e;
}

.ui-selectmenu-optgroup {
	font-size: 2em;
}

