@CHARSET "ISO-8859-1";

#review-dialog {
	visibility: hidden;
}

#info-dialog, #review-dialog {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #245C83;
}

#trail-name {
	font-size: 2.25em;
	font-weight: bold;
	padding-bottom: 0.20em;
}

#trail-address-one, #trail-address-two {
	font-size: 1.25em;
}

#trail-info {
	font-size: 1.5em;
	padding-top: 0.5em;
}

.trail-info-title {
	font-weight: bold;
}

#trail-condition {
	text-decoration: underline;
}

#trail-cond-update {
	margin-left: 1.0em;
	font-size: 0.75em;
	color: #245C83;
}

#update-cond-form {
	padding-left: 1.25em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#set-cond-title {
	font-weight: bold;
	padding-bottom: 0.50em;
}

.rdb-update-cond {
	margin-left: 1em;
}

#btn-update-cond, #btn-cancel-cond {
	font-size: 0.75em;
	margin-top: 0.50em;
}

#trail-reviews {
	padding-top: 1.40em;
}

#trail-reviews-title {
	font-size: 1.5em;
}

#trail-reviews-list {
	overflow-y: scroll;
	height: 150px;
	background-color: #E4E4E4;
	border-color: #aaaaaa;
	border-width: 1px;
	border-style: solid;
	padding: 0px 5px 0px 5px;
}

.first-trail-review {
	margin-top: 1em;
}

.middle-trail-review {
	border-bottom-color: #aaaaaa;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 1em;
}

.review-label {
	float: left;
	width: 5em;
	text-align: right;
	padding-right: 1em;
}

#review-dialog input {
	background-color: #E4E4E4;
}

#reviewer-name-container {
	margin-bottom: 0.75em;
}

#reviewer-rating {
	width: 3em;
}

.review-required {
	color: 	#FF0000;
}

textarea {
	resize: none;
	margin-top: 0.75em;
	background-color: #E4E4E4;
}

.dialog-toolbar {
	padding-top: 0.75em;
	display:block;
	text-align: center; 
	position:relative;
}

.dialog-btn {
	width: 11em;
}

.empty-star {
	background:url(images/stars/star-empty.png) no-repeat center center;
	display: inline-block;
	background-size: 15px 15px;
	height: 15px;
	width: 15px;
}

.full-star {
	
}




